//
// Navbars
// --------------------------------------------------

// Base classes

/**
Substitute for `.navbar` CSS class.

**Usage:** Protected mixin; it is for internal use only, and is intended to
be placed in other mixins, so there is no need to repeat the way it is used
in HTML, eg.: `<nav class="navbar navbar-fixed-top">`, but only `<nav>` and:
```
nav {
    #BL>.navbar("fixed-top");
}
```

@uses @navbar-height,@navbar-padding-horizontal,@navbar-bg,@navbar-border-radius,.clearfix()
**/
._navbar() {
    position: relative;
    min-height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    margin-bottom: 20px;
    padding-left: @navbar-padding-horizontal;
    padding-right: @navbar-padding-horizontal;
    background-color: @navbar-bg;
    border-radius: @navbar-border-radius;

    // Prevent floats from breaking the navbar
    .clearfix();
}

/**
Base class for internal use only in `.navbar("fixed-*")`.

@uses @zindex-navbar-fixed
**/
._navbar-fixed() {
    position: fixed;
    right: 0;
    left: 0;
    z-index: @zindex-navbar-fixed;
    border-radius: 0;
}

/**
Base class for internal use only in `.navbar("*")`.

@uses #BL>._nav,@navbar-height,@line-height-computed,@navbar-link-color,@border-radius-base,@navbar-link-hover-color,@navbar-link-hover-bg,@navbar-link-active-color,@navbar-link-active-bg,@navbar-link-disabled-color,@navbar-link-disabled-bg
**/
._navbar-nav() {
  // it requires to reset the UL settings, like class="nav navbar-nav"
  ._nav();

  margin-bottom: 15px;

  > li > a {
    padding-top: ((@navbar-height - @line-height-computed) / 2);
    padding-bottom: ((@navbar-height - @line-height-computed) / 2);
    color: @navbar-link-color;
    line-height: @line-height-computed;
    border-radius: @border-radius-base;
    &:hover,
    &:focus {
      color: @navbar-link-hover-color;
      background-color: @navbar-link-hover-bg;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: @navbar-link-active-color;
      background-color: @navbar-link-active-bg;
    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: @navbar-link-disabled-color;
      background-color: @navbar-link-disabled-bg;
    }
  }
}

// --------------------------------------------------

/**
Substitute for `.navbar .navbar-(static|fixed)-(top|bottom)` CSS class combinations.

**Usage:** Instead of: `<nav class="navbar navbar-fixed-top">`, just use `<nav>`
and write your LESS:
```
nav {
    .navbar("fixed-top");
    // other CSS/LESS...
}
```

@param type "static-top"|"fixed-top"|"fixed-bottom", or no argument for default
**/
.navbar(@type) when (@type = "static-top") {
    ._navbar();
    border-radius: 0;
}
.navbar(@type) when (@type = "fixed-top") {
    ._navbar(); ._navbar-fixed();
    top: 0;
}
.navbar(@type) when (@type = "fixed-bottom") {
    ._navbar(); ._navbar-fixed();
    bottom: 0;
    margin-bottom: 0; // override .navbar defaults
}
.navbar() {
    ._navbar();
}


/**
Substitute of `.nav .navbar-nav` CSS class combination for navigation menus.

**Usage:** Instead of:
```
<nav class="navbar navbar-static-top">
    <ul class="nav navbar-nav">
        <li><a href=""></a>
        <li> ...
    </ul>
</nav>
```
just use:
```
<nav>
    <ul>
        <li><a href=""></a>
        <li> ...
    </ul>
</nav>
```
and write your LESS:
```
nav {
    .navbar("static-top");
    // other CSS/LESS...
    ul {
        .navbar-nav(); // use "floating" in .less file for devices bigger than smartphones
    }
}
```

@param ver "floating", for horizontal list items
**/
.navbar-nav(@ver) when (@ver = "floating") {
    ._navbar-nav();
    float: left;
    // undo margin to make nav extend full height of navbar
    margin-top: 0;
    margin-bottom: 0;

    > li {
      float: left;
      > a {
        border-radius: 0;
      }
    }
}
.navbar-nav() {
    ._navbar-nav();
}

